<div >
    <form id="userForm" class="p-2" >
  <ul>
    <li class="container">
      <label for="nombreUser">Nombre:</label>
      <input class="bg-dark text-light" type="text" id="nombreUser" name="name"/>
    </li >
    <li class="container">
      <label for="apellidoUser">Apellido:</label>
      <input class="bg-dark text-light" type="text" id="apellidoUser" name="apellidoUser"/>
    </li>
    <li class="container">
      <label for="edadUser">Edad:</label>
      <input class="bg-dark text-light" type="text" id="edadUser" name="edadUser"/>
    </li>
    <li class="container">
      <label for="aliasUser">Alias:</label>
      <input class="bg-dark text-light" type="text" id="aliasUser" name="aliasUser"/>
    </li>
    <li class="container">
      <label for="avatarUser">Avatar:</label>
      <input class="bg-dark text-light" type="text" id="avatarUser" name="avatarUser"/>
    </li>
    <li class="container" class="button">
      <button class="bg-dark text-light" type="submit">Ingresar</button>
    </li >
  </ul>
</form>
</div>
<div>
    
</div>