 <div class="container-fluid d-flex justify-content-center importantDiv">
     <div id="divLogin" class="bg-secondary p-3 mb-3 rounded">
         <div id="divFormLogin" class="">
             <h2>Form de Register</h2>
             <form action="/api/register" method="post" class="p-2">
                 <ul>
                     <li>
                         <label for="gmail">Ingrese su gmail</label>
                         <input class="bg-dark text-light" type="email" id="gmail" name="gmail" autocomplete="off">
                     </li>
                     <li>
                         <label for="username">Ingrese su Nombre de Usuario</label>
                         <input class="bg-dark text-light" type="text" id="username" name="username" autocomplete="off">
                     </li>
                     <li>
                        <label for="age">Ingrese su Edad</label>
                         <input class="bg-dark text-light" type="number" id="age" name="age" autocomplete="off">
                     </li>
                     <li>
                        <label for="phoneNumber">Ingrese su Numero de telefono</label>
                         <input class="bg-dark text-light" type="tel" id="phoneNumber" name="phoneNumber" autocomplete="off">
                     </li>
                     <li>
                        <label for="image">Ingrese su Avatar</label>
                         <input class="bg-dark text-light" type="text" id="image" name="image" autocomplete="off">
                     </li>
                     <li>
                         <label for="password">Cree su Contraseña</label>
                         <input class="bg-dark text-light" type="password" id="password" name="password" autocomplete="off">
                     </li>
                     <li>
                         <button class="bg-dark text-light" type="submit">Register</button>
                     </li>
                 </ul>
             </form>  
         </div>
         <hr>
         <p>¿Ya tienes una cuenta? <button class="bg-warning"><a class="text-light" href="/api/login">Haz click
                     aquí</a></button></p>
     </div>
 </div>