{{>navbar}}
<div class='container'>
    <div class='card'>
        <div class='card-header'>
            <h2>Documentation</h2>
        </div>
        <div class='card-body'>
            <h5 class='card-title' style='text-align: center;'>App on Node JS. Code in Typescript. Express Server.
                Handlebars as template engine. WebSocket Socket.IO</h5>
            <h5 class='card-title' style='text-align: center;'>Persistence: MongoDB</h5>
            <h5 class='card-title' style='text-align: center;'>Auxiliary Libraries: Cookie Parser - DotEnv - Prettier -
                Jest - Faker - JWT - Moment.js - Mongoose - Connect-Mongo - Passport - Bcrypt - Etc.</h5>
            <br />
            <div>
                <h3>Recomended:</h3><br>
                <ul>
                    <li>- Go to the main documentation so you can try the endpoints shown here.</li>
                    <li>- Go to the chat route from the navbar.</li>
                    <li>- Try everything in postman or in swagger.</li>
                </ul>
                <hr class="border">
                <h3>Chat:</h3><br>
                <p>The chat has its own view and login, so to try it, you need to use an already existing user to login in to him.<br>
                    When you login, it will return a token, which you need to put in the bottom form so you can chat with the system.</p>
            </div>
            <div>
                <br />
                <div class='accordion' id='accordionExample'>
                    <div class='card'>
                        <div class='card-header' id='headingOne'>
                            <h2 class='mb-0'>
                                <button class='btn btn-light btn-block text-left' type='button' data-toggle='collapse'
                                    data-target='#collapseOne' aria-expanded='false' aria-controls='collapseOne'>
                                    <h4 style='text-align: center;'>ENDPOINTS LOCALHOST</h4>
                                </button>
                            </h2>
                        </div>

                        <div id='collapseOne' class='collapse' aria-labelledby='headingOne'
                            data-parent='#accordionExample'>
                            <div class='card-body'>
                                <h5>Auth</h5>
                                <div class='alert alert-warning' role='alert'>
                                    POST - Register:
                                    <a href="#" class="alert-link">http://localhost:8088/auth/register</a>
                                </div>
                                <div class='alert alert-warning' role='alert'>
                                    POST - Login:
                                    <a href="#" class="alert-link">http://localhost:8088/auth/login</a>
                                </div>
                                <div class="alert alert-success" role="alert">
                                    GET - Logout:
                                    <a href="#" class="alert-link">http://localhost:8088/auth/logout</a>
                                </div>
                                <hr class="border">
                                <h5>Products:</h5>
                                <div class='alert alert-success' role='alert'>
                                    GET - All Products:
                                    <a href='#' class='alert-link'>http://localhost:8088/products/</a>
                                </div>
                                <div class='alert alert-success' role='alert'>
                                    GET - Single Products:
                                    <a href='#' class='alert-link'>http://localhost:8088/products/:id</a>
                                </div>
                                <div class='alert alert-primary' role='alert'>
                                    PUT - Products:
                                    <a href='#' class='alert-link'>http://localhost:8088/products/:id</a>
                                </div>
                                <div class='alert alert-danger' role='alert'>
                                    DELETE - Products:
                                    <a href='#' class='alert-link'>http://localhost:8088/products/:id</a>
                                </div>
                                <div class='alert alert-warning' role='alert'>
                                    POST - Products:
                                    <a href='#' class='alert-link'>http://localhost:8088/products/</a>
                                </div>
                                <div class="alert alert-success" role="alert">
                                    GET - Products By Category:
                                    <a href="#" class="alert-link">http://localhost:8088/products/category/:category</a>
                                </div>
                                <hr class="border">
                                <h5>Cart:</h5>
                                <div class='alert alert-success' role='alert'>
                                    GET - All Items:
                                    <a href='#' class='alert-link'>http://localhost:8088/cart/</a>

                                </div>
                                <div class='alert alert-warning' role='alert'>
                                    POST - Item:
                                    <a href='#' class='alert-link'>http://localhost:8088/cart/add/:id_Products</a>

                                </div>
                                <div class='alert alert-danger' role='alert'>
                                    DELETE - Item:
                                    <a href='#' class='alert-link'>http://localhost:8088/cart/delete/</a>

                                </div>
                                <div class="alert alert-warning" role="alert">
                                    POST - Cart:
                                    <a href="#" class="alert-link">http://localhost:8088/cart/submit/</a>

                                </div>
                                <h5>Orders:</h5>
                                <div class="alert alert-success" role="alert">
                                    GET - All Orders of user:
                                    <a href="#" class="alert-link">http://localhost:8088/orders/</a> 

                                </div>
                                <div class="alert alert-success" role="alert">
                                    GET - Single Order of User:
                                    <a href="#" class="alert-link">http://localhost:8088/orders/:id_order</a>
                                </div>
                                <div class="alert alert-warning" role="alert">
                                    POST - Complete Order:
                                    <a href="#" class="alert-link">http://localhost:8088/orders/</a>
                                </div>
                                <h5>Chat:</h5>
                                <div class="alert alert-success" role="alert">
                                    GET - View of chat:
                                    <a href="http://localhost:8088/chat/" class="alert-link">http://localhost:8088/chat/</a>
                                </div>
                                <h5>Profile:</h5>
                                <div class="alert alert-success" role="alert">
                                    GET - Profile:
                                    <a href="#" class="alert-link">http://localhost:8088/profile/</a>
                                </div>
                                <h5>Documentation:</h5>
                                <div class="alert alert-success">
                                    GET - Main Documentation:
                                    <a href="http://localhost:8088/api-docs/" class="alert-link">http://localhost:8088/api-docs/</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>