<div>
    {{> navbar}}
<div class="my-5 p-3  text-center bg-secondary  d-flex justify-content-center flex-column rounded">

    <div id="chat" class="esconder" >
        
        {{>chat}}
    </div>
</div>
</div>


